@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@using ClassLibrary.Records

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
            <RadzenLabel Text="@_windowSize" Style="margin-right: 20px;" />
            <RadzenLabel Text="@_currentTime" Style="margin-right: 20px;" />
            <RadzenLabel Text="@WelcomeText" Style="margin-right: 20px;" />

        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_sidebarExpanded" style="position: absolute; z-index: 3">
        <RadzenStack AlignItems="AlignItems.End" Class="rz-p-2">
            <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(() => _sidebarExpanded = false)" />
        </RadzenStack>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Projects" Icon="code" Path="/Projects" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool _sidebarExpanded = true;

    static string? _windowSize;

    Timer? _timer;

    string _currentTime = DateTime.Now.ToString("HH:mm:ss");

    string WelcomeText => $"{Greeting}, user!";

    static string Greeting => GetGreetingByTime();

    private static string GetGreetingByTime()
    {
        var hour = DateTime.Now.Hour;
        if (hour < 12) return "Good morning";
        if (hour < 17) return "Good afternoon";
        return "Good evening";
    }

    [JSInvokable]
    public static Task UpdateWindowSize(string? size)
    {
        _windowSize = size;
        return Task.CompletedTask;
    }

    protected override Task OnInitializedAsync()
    {
        _timer = new Timer(TimerCallback, null, 0, 1000);
        StateHasChanged();
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _windowSize = await JsRuntime.InvokeAsync<string>(JsFunctions.GetWindowSize);
            await JsRuntime.InvokeVoidAsync(JsFunctions.TriggerResizeEvent);
        }
        StateHasChanged();
        await base.OnAfterRenderAsync(firstRender);
    }

    void TimerCallback(object? state)
    {
        _currentTime = DateTime.Now.ToString("HH:mm:ss");
        InvokeAsync(StateHasChanged);
    }

}